# --- toutemonannee.com ---
TMA_USERNAME=
TMA_PASSWORD=
TMA_DOWNLOAD_DIR=
# Ouvre le navigateur visuellement si "false" (défaut : "true")
TMA_HEADLESS=true

# --- fr.klass.ly ---
KLASSLY_USERNAME=
KLASSLY_PASSWORD=
KLASSLY_DOWNLOAD_DIR=
KLASSLY_HEADLESS=true
