# --- Partagé ---
DOWNLOAD_DIR=
# Ouvre le navigateur visuellement si "false" (défaut : "true")
HEADLESS=true

# --- toutemonannee.com ---
TMA_USERNAME=
TMA_PASSWORD=

# --- fr.klass.ly ---
KLASSLY_USERNAME=
KLASSLY_PASSWORD=
